@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-size20 {
    font-size: 20px;
}
.font-size40 {
    font-size: 40px;
}
.font-size30 {
    font-size: 30px;
}
.font-size16 {
    font-size: 16px;
}
.card {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.76);
    border-radius: 28px;
}